.about {
  padding: 300px 0;
  background-color: aliceblue;
}

.about-text {
  color: black;
  max-width: 150px;
  font-size: 16px;
}

.about__title {
  display: block;
  font-size: 40px;
  font-weight: 700;
}
